@import 'variables';

header{
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    overflow: hidden;
  
    #site_title{
        text-align: center;
        color: black;
        a{
            text-decoration: none;
        }
        h1{
            font-size: 3rem;
            max-width: 25ch;
            margin: 10px auto;
            color: $color-body;
            border-bottom: 0.15em solid $color-primary;
        }
        h1 .hl { 
            padding: 0 0.5em;
            background-color: $color-primary 
        }
        h2{
            font-family: $base-font;
            color: $color-secondary;
            margin-top: 0px;
            font-style: oblique;
            font-size: 1.2rem;
        }
    }
    #subheader{
        display: block;
        margin-top: 15px;
            .pages{
                display: block;
                text-align: center;
                li{
                    display: inline-block;
                    list-style-type: none;
                }
                a:hover{
                    color: black;
                }
                a{
                    text-decoration: none;
                    color: $base; 
                    margin: 3px 0.5rem;
                    font-size: 1.05rem;
                }
                .active a{
                    color: black;
                    text-decoration: underline;
                }
            }
        }
}