li.post{
    display: block;
    padding-top: 1rem;
}

.post{
    padding-bottom: 1rem;
}



img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    max-width: 100%;
    border-radius: 7px;
}

.post-container{
    p, li{
        a{
          @include underline-link;
        }
        a:visited{
          @include underline-link;
        }
        a:hover{
          background: $color-secondary-light;
        }
      }
}

.categories{
    p{
        display: inline-block;
    }
    a{
        @include underline-link;
      }
      a:visited{
          @include underline-link;
      }
      a:hover{
        background: $color-secondary-light;
      }
}

article::after{
    display: block;
    content: '';
    width: 5rem;
    height: 1px;
    margin: 30px auto;
    background-color: #d5d5d5;
}