---
---

@import "base", "typography", "header", "post", "home", "footer", "paginator", "scrollbar", "contact", "related-posts", "mobile";

.poster {
    float: left;
    margin: 15px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 5px;
  }
.poster img {
  width: 200px;
  height: auto;
  margin: 0;
}
.captioned-poster p {
  font-size: 0.9rem;
  float: left;
  width: 200px;
}
.captioned-poster {
  clear: both;
}

.clr {
    clear: both;
}